<div class="card mt-4" style="width: 10rem;height: 10rem">
<span class="img-rounded"><%= gravatar_for user %></span>

  <div class="card-body">
    <p class="card-text"><%= link_to user.username, user %></p>
  </div>
</div>